# requirements.txt

# Librerías principales
numpy==1.26.4
pandas==2.2.2

# Procesamiento y limpieza
requests==2.31.0
python-dateutil==2.9.0.post0

# Análisis y visualización
matplotlib==3.9.2
seaborn==0.13.2

# Soporte extra para análisis/tablas
openpyxl==3.1.5
xlrd==2.0.1

# Control de versiones y automatización
pyyaml==6.0.2
