# Procesamiento de datos
pandas==2.0.3
numpy==1.24.3

# Descarga de datos
requests==2.31.0

# Visualización (para notebooks o validaciones)
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.15.0

# Entorno y automatización
python-dotenv==1.0.0
schedule==1.2.0

# Jupyter (si quieres probar notebooks localmente/Colab)
jupyter==1.0.0

# Validación y calidad de datos
pytest==7.4.0
great-expectations==0.17.19

